/* #region Common */

:root {
    --mine_primary: #1abc9c;
    --mine_medium: #3a546d;
    --mine_dark: #2c3e50;
    --mine_light: white;

}

/* #region Debug */

/* .debug {
    border: dashed 1px red;
}

.debug #jumbo {
    height: 300px;
    border: dashed red 1px;

}

.debug #portfolio .col {
    height: 300px;
    border: dashed red 1px;
}

.debug #about .row * {
    height: 250px;
    border: dashed red 1px;
}

.debug #contact .row * {
    height: 60px;
    border: dashed red 1px;
}

.debug #footer_top .row * {
    height: 60px;
    border: dashed red 1px;
} */
/* #debug */

/* utilities */
.green_btn {
    color: var(--mine_light);
    background-color: var(--mine_primary);
    border: none;
}

.download_btn {
    width: 20% !important;
    border: none;
    color: rgba(255, 255, 255);
    background-color: var(--mine_primary);
    border: solid 1px white;
}

.circle_border {
    border-radius: 50px;
    border: 1px solid;
    width: 8%;
    height: 8%;
    aspect-ratio: 1/1;
    text-align: center;

}

.d_contents {
    display: contents;
}

/* #end utilities */

/* region color  */
.color_header {
    color: white;
    background-color: var(--mine_dark);
}

.color_light {
    color: var(--mine_light);
}

.green_link {
    color: var(--mine_primary);
}

/* #endregion color  */

#app_header {
    height: 90px;
    background-color: var(--mine_dark);
}

#jumbo,
#about {
    background-color: var(--mine_primary);
}

#footer_top {
    background-color: var(--mine_medium);
    height: 400px;
}

#footer_bottom {
    height: 100px;
    background-color: var(--mine_dark);
}

/* end region color  */


/* mediaquery */

@media screen and (max-width:767px) {
    li {
        display: none;
    }

}